[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycodestyle = "*"
pytest = "*"
requests = ">=2.20"
flask = "*"
sphinx-rtd-theme = "*"
Sphinx = "*"

[dev-packages]
