<!doctype html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon"
          type="image/png"
          href="{{ url_for('static', filename='icon.png') }}" />

    <title>{% block page_title %}Cicero - Serving Great Presentations{% endblock %}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap-3.3.6.css') }}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href='//fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

    <style>
      body {
        font-family: 'Open Sans';
        font-size: 16px;
      }
      input[type="text"], textarea {
        background-color: #99eeff;
      }
    </style>

    <!-- http://stackoverflow.com/a/21146439 -->
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

  </head>
  <body ng-controller="Ctrl">
    {% block content %}
    {% endblock %}

    <!-- jquery is needed for bootstrap's javascript plugins) -->
    <script src="{{ url_for('static', filename='js/vendor/jquery-1.12.0.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/bootstrap-3.3.6.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/angular-1.5.3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cicero.js') }}"></script>

  </body>
</html>
