{% extends "base.html" %}

{% block title %}Cicero - Serving Great Presentations{% endblock %}

{% block content %}
<div class="container">

  <div class="col-md-12">
    <div class="row">
      <h1>Cicero - Serving Great Presentations</h1>
    </div>
  </div>

  <div class="col-md-5">
    <div class="raboof row">
      <h3>Find your talk</h3>
      <div class="form-area">
        <form role="form">
          <div class="form-group">
            <input placeholder="Select GitHub user or organization" type="text"
                   class="form-control" ng-model="user"
                   ng-model-options='{ debounce: 500 }' ng-change="load_repos()" />
          </div>

          <div class="form-group">
            <div ng-show="show_repos" ng-cloak>
              <h4>Select repository:</h4>
              <select class="form-control" ng-model="repo"
                      ng-change="load_branches()" ng-options="item.name for item in repos">
              </select>
            </div>
          </div>

          <div class="form-group">
            <div ng-show="show_branches" ng-cloak>
              <h4>Select branch:</h4>
              <select class="form-control" ng-model="branch"
                      ng-change="load_files()" ng-options="item.name for item in branches">
              </select>
            </div>
          </div>

          <div class="form-group">
            <div ng-show="show_files" ng-cloak>
              <h4>Select Markdown file to render:</h4>
              <select class="form-control" ng-model="file"
                      ng-change="generate_link()" ng-options="item.path for item in files">
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div ng-show="show_links" ng-cloak>
      <div class="row">
        <h3><b>Share this link with your friends</b></h3>
        <b><a target="_blank" href="{[ link ]}">{{ url_base }}{[ link ]}</a></b>
      </div>

      <div class="row">
        <br>
        Source code:
        <a target="_blank" href="{[ source_link ]}">{[ source_link ]}</a>
      </div>
    </div>

    <div ng-show="no_files_found" ng-cloak>
      <div class="row">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title">No Markdown files found in this repository</h3>
          </div>
          <div class="panel-body">
            Try another repository
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <h3>This is how it works</h3>
      <p>
        You write your talk in Markdown, host it on <a href="https://github.com">GitHub</a>.
        We render it using <a href="http://remarkjs.com">remark.js</a> and serve it for you
        before you can say blueberry pie.
      </p>
    </div>

    <div class="row">
      <h3>First time here? Try this one-minute demo:</h3>
      <p>
        Under "Find your talk", type "bast", then select repo "cicero", and file "demo/remark.mkd".
        Then follow the generated link. For a demo using equations, try "demo/mathjax.mkd".
      </p>
    </div>
  </div>

  <div class="col-md-1">
  </div>

  <div class="col-md-6">
    <h3>Why Cicero</h3>
    <ul class="list-unstyled">
      <li>- All you need is a browser. No additional software. Batteries included.</li>
      <li>- It is easier to share a link to slides than it is to serve them.</li>
      <li>- It is easier to reuse a Markdown talk than it is to modify PDF slides.</li>
      <li>- Talks become lightweight, reusable, versionable, branchable, and forkable.</li>
      <li>- Hackable URLs.</li>
      <li>- Presentation URL lives as long as the corresponding Markdown file lives.</li>
      <li>- Free as in beer.</li>
    </ul>

    <h3>Known issues</h3>
    <ul class="list-unstyled">
      <li>- Chromium breaks slide URLs which contain ".md" or ".markdown". Works with ".mkd". Works on other browsers (Chrome, Opera, Firefox).</li>
    </ul>

    <h3>Upcoming features</h3>
    <ul class="list-unstyled">
      <li>- Support for <a href="https://gitlab.com">GitLab</a> and <a href="https://bitbucket.org">Bitbucket</a>.</li>
      <li>- Support for other rendering engines.</li>
      <li>- Badges for repository READMEs.</li>
      <li>- Fork-me ribbons.</li>
    </ul>
  </div>

  <footer>
    <div class="row">
      <div class="col-lg-12">
        <br>
        <p>
          cicero.xyz (c) <a href="http://bast.fr" rel="nofollow">radovan bast</a>
        </p>
      </div>
    </div>
  </footer>
</div>
{% endblock %}
