<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="keywords" content="cicero,remark,remarkjs,markdown,slideshow,presentation" />
    <meta name="description" content="cicero.xyz: serving slides written in markdown." />
    <link rel="icon"
          type="image/png"
	  href="{{ url_for('static', filename='icon.png') }}" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cicero.css') }}">
  </head>
  <body>
    <textarea id="source">
{{ markdown }}
    </textarea>

    <script src="{{ url_for('static', filename='js/vendor/remark-0.13.0.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/highlighter.js') }}" type="text/javascript"></script>

    <script type="text/javascript">
      var slideshow = remark.create({
          highlightStyle: '{{ style }}',
          highlightLanguage: 'remark',
          highlightLines: true
        }) ;
    </script>

    <!-- for offline mathjax see http://stackoverflow.com/a/19209462 -->
    <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML&delayStartupUntil=configured" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/mathjax-setup.js') }}" type="text/javascript"></script>

  </body>
</html>
